.task-container {
  height: 200px;
  width: 250px;
  background-color: white;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 2px #00000042;
  border-radius: 10px;
  text-decoration: none;
}

.top-text {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
td {
  border-bottom: 1px solid #dddddd;
  text-align: center;
}
table {
  width: 100%;
}
