.btn{
    background: #901C42 !important; /* Blue background */
  border: none; 
  color: white !important; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  margin: 1rem !important;
}

.btn:hover {
    background-color: RoyalBlue;
  }

  .tablehead{
    background: #901C42;
    color: white;
  }

  .payrollindividualinfo{
    /* height: 100vh; */
    overflow-y: auto;
  }

  .btn1{
    background: #901C42;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
  }
  

 .btn2{
    background: #F5F5F5;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
 }

 .individualctninfo{
    width: 100%;
    height: 40%;
    background: #F5F5F5;
 }

 .info{
    display: grid;
    grid-template-columns: 1fr 3fr;
 }

 .individualinfo{
    display: grid;
    grid-template-columns: 1fr 2fr;
 }